:root[data-theme="light"] {
  --button-secondary-background-color: var(--neutral-100);
  --button-secondary-border-color: var(--neutral-100);
  --button-border-hover-background-color: var(--neutral-100);
  --button-border-hover-border-color: var(--neutral-100);
  --button-border-focus-border-color: var(--neutral-950);
  --button-border-hover-color: var(--neutral-600);
  --button-focus-box-shadow-color-1: var(--neutral-0);
  --button-focus-box-shadow-color-2: var(--neutral-400);
  --button-disabled-background-color: var(--neutral-50);
  --button-disabled-border-color: var(--neutral-50);
  --button-disabled-color: var(--neutral-300);
}
:root[data-theme="dark"] {
  --button-secondary-background-color: var(--neutral-500);
  --button-secondary-border-color: var(--neutral-500);
  --button-border-hover-background-color: var(--neutral-800);
  --button-border-hover-border-color: var(--neutral-600);
  --button-border-focus-border-color: var(--neutral-300);
  --button-border-hover-color: var(--neutral-0);
  --button-focus-box-shadow-color-1: var(--neutral-950);
  --button-focus-box-shadow-color-2: var(--neutral-600);
  --button-disabled-background-color: var(--neutral-800);
  --button-disabled-border-color: var(--neutral-800);
  --button-disabled-color: var(--neutral-400);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-150) var(--spacing-200);
  gap: var(--spacing-100);
  border: 1px solid transparent;
  border-radius: var(--radius-8);
  cursor: pointer;
  width: 100%;
  transition: all 0.2s;
}

.button.primary {
  background-color: var(--blue-500);
  border-color: var(--blue-500);
  color: var(--neutral-0);
}

.button.primary:hover {
  background-color: var(--blue-700);
  border-color: var(--blue-700);
}

.button.secondary {
  background-color: var(--button-secondary-background-color);
  border-color: var(--button-secondary-border-color);
  color: var(--neutral-600);
}

.button.secondary:hover {
  background-color: var(--neutral-0);
  border-color: var(--neutral-300);
  color: var(--neutral-950);
  box-shadow: 0px 1px 2px 0px rgba(var(--neutral-950-rgb), 0.03);
}

.button.secondary:focus {
  border-color: var(--neutral-950);
  color: var(--neutral-950);
}

.button.border {
  background-color: transparent;
  border-color: var(--neutral-300);
  color: inherit;
}

.button.border:hover {
  background-color: var(--button-border-hover-background-color);
  border-color: var(--button-border-hover-border-color);
  color: var(--button-border-hover-color);
}

.button.border:focus {
  border-color: var(--button-border-focus-border-color);
  color: inherit;
}

.button.danger {
  background-color: var(--red-500);
  border-color: var(--red-500);
  color: var(--neutral-0);
}

.button.danger:hover {
  background-color: var(--red-100);
  border-color: var(--red-100);
}

.button:focus {
  outline: none;
  box-shadow:
    0px 0px 0px 2px var(--button-focus-box-shadow-color-1),
    0px 0px 0px 4px var(--button-focus-box-shadow-color-2);
}

.button:disabled {
  background-color: var(--button-disabled-background-color);
  border-color: var(--button-disabled-border-color);
  color: var(--button-disabled-color);
  cursor: not-allowed;
}

.button:disabled:hover {
  background-color: var(--button-disabled-background-color);
  border-color: var(--button-disabled-border-color);
  color: var(--button-disabled-color);
}
