/* Firefox specific */
@-moz-document url-prefix() {
  :root {
    --scrollbar-width: var(--spacing-100);
  }
  .scrollContent {
    margin-right: var(--scrollbar-width);
  }
}

.scrollArea {
  --focus-shadow-overflow: var(--spacing-050);
  --scrollbar-separation: var(--spacing-050);
  --scrollbar-total-separation: calc(
    var(--focus-shadow-overflow) + var(--scrollbar-separation)
  );
  --scrollbar-space: calc(var(--scrollbar-width) + var(--scrollbar-separation));
  --total-extra-space: calc(
    var(--scrollbar-space) + var(--focus-shadow-overflow)
  );
  overflow-y: auto;
  position: relative;
  scrollbar-gutter: stable;
  margin: calc(var(--focus-shadow-overflow) * -1);
  margin-bottom: var(--spacing-0);
  padding: var(--focus-shadow-overflow) var(--scrollbar-total-separation)
    var(--focus-shadow-overflow) var(--focus-shadow-overflow);
  margin-right: calc(var(--total-extra-space) * -1);
}
