:root[data-theme="light"] {
  --sidebar-navigation-heading-text-color: var(--neutral-500);
}
:root[data-theme="dark"] {
  --sidebar-navigation-heading-text-color: var(--neutral-500);
}

.sidebar {
  padding: var(--spacing-150) var(--spacing-200) var(--spacing-0);
  position: relative;
}

.sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--hr-border-color);
}

.logoContainer {
  text-align: left;
  padding: var(--spacing-150) var(--spacing-0);
}
.logoContainer a {
  display: inline-block;
}

.itemsContainer {
  display: grid;
  grid-column: auto;
  gap: var(--spacing-050);
}

.content {
  display: grid;
  grid-column: auto;
  gap: var(--spacing-100);
}

.heading {
  color: var(--sidebar-navigation-heading-text-color);
  padding: var(--spacing-0) var(--spacing-050);
}
