.container {
  position: relative;
  padding-top: var(--spacing-250);
  padding-left: var(--spacing-200);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 1px;
  background-color: var(--hr-border-color);
}

.items {
  display: grid;
  gap: var(--spacing-150);
}
