.container {
  padding: var(--spacing-250) var(--spacing-200) var(--spacing-0)
    var(--spacing-0);
  display: grid;
  gap: var(--spacing-200);
  height: fit-content;
}

.menuCards {
  display: grid;
  gap: var(--spacing-050);
}

.hidden {
  visibility: hidden;
}
