:root[data-theme="light"] {
  --input-hover-background-color: var(--neutral-50);
  --input-border-color: var(--neutral-300);
  --input-disabled-border-color: var(--neutral-300);
  --input-focus-border-color: var(--neutral-950);
  --input-focus-box-shadow-color-1: var(--neutral-0);
  --input-focus-box-shadow-color-2: var(--neutral-500);
  --input-disabled-background-color: var(--neutral-50);
  --input-disabled-color: var(--neutral-300);
}
:root[data-theme="dark"] {
  --input-hover-background-color: var(--neutral-800);
  --input-border-color: var(--neutral-600);
  --input-disabled-border-color: transparent;
  --input-focus-border-color: var(--neutral-600);
  --input-focus-box-shadow-color-1: var(--neutral-950);
  --input-focus-box-shadow-color-2: var(--neutral-600);
  --input-disabled-background-color: var(--neutral-800);
  --input-disabled-color: var(--neutral-600);
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  --label-action-width: 0px;
}

.label {
  color: inherit;
}

.labelContainer {
  display: flex;
  justify-content: space-between;
  width: calc(100% - var(--label-action-width, 0));
  align-items: center;
}

.labelAction {
  position: absolute;
  top: 0;
  right: 0;
  white-space: nowrap;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: var(--spacing-075) var(--spacing-0);
  cursor: text;
}

.input {
  background-color: transparent;
  color: inherit;
  width: 100%;
  padding: var(--spacing-150) var(--spacing-200);
  border: 1px solid var(--input-border-color);
  border-radius: var(--radius-8);
  outline: none;
  transition: all 0.2s;
}

.inputWrapper:hover .input {
  background-color: var(--input-hover-background-color);
}

.input:focus,
.inputWrapper:has(> *:focus) .input {
  border-color: var(--input-focus-border-color);
  box-shadow:
    0px 0px 0px 2px var(--input-focus-box-shadow-color-1),
    0px 0px 0px 4px var(--input-focus-box-shadow-color-2);
}

.inputWrapper:has(> .input:disabled),
.input:disabled,
.input:disabled::placeholder {
  color: var(--input-disabled-color);
}

.input:disabled {
  background-color: var(--input-disabled-background-color);
  border-color: var(--input-disabled-border-color);
  cursor: not-allowed;
}

.hasLeftIcon .input {
  padding-left: var(--spacing-500);
}

.hasRightIcon .input {
  padding-right: var(--spacing-500);
}

.iconButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--spacing-500);
  height: 100%;
  padding: var(--spacing-0);
  background: inherit;
  border: none;
  color: inherit;
  outline: none;
}

.iconButton:focus-visible {
  color: var(--blue-300);
}

.leftIcon,
.rightIcon {
  cursor: inherit;
}

.leftIcon {
  left: 0;
}

.rightIcon {
  right: 0;
}

.leftIcon:disabled,
.rightIcon:disabled,
.leftIcon:disabled:hover,
.rightIcon:disabled:hover {
  cursor: auto;
  color: inherit;
}

.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: var(--blue-300);
}

.error .input {
  border-color: var(--red-500);
}

.error .input:focus {
  border-color: var(--red-500);
  box-shadow: 0 0 0 1px var(--red-500);
}

.hint {
  color: var(--neutral-600);
  display: flex;
  align-items: center;
  gap: var(--spacing-100);
}

.hint.disabled {
  color: var(--neutral-300);
}

.errorHint {
  color: var(--red-500);
}

.errorList {
  list-style: none;
  padding: 0;
  margin: 0;
}
