:root[data-theme="light"] {
  --background: var(--neutral-0);
}
:root[data-theme="dark"] {
  --background: var(--neutral-950);
}

.page {
  min-height: 100svh;
  height: 100svh;
  overflow: hidden;
}

.container {
  display: grid;
  min-height: 100%;
  grid-template-rows: auto 1fr;
}
